<div class="form-group <%= 'form-group--error' if f.object.errors[:delivery_partner].any? %>">
  <%= f.label :delivery_partner %>
  <%= render 'shared/error', error_messages: f.object.errors[:delivery_partner] %>
  <%= f.select :delivery_partner, Partners.delivery_partners, { include_blank: true }, class: 'input-md-3 form-control t-delivery-partner text-uppercase' %>
</div>

<div class="form-group <%= 'form-group--error' if f.object.errors[:year_month_id].any? %>">
  <%= f.label :year_month_id, 'Month' %>
  <%= render 'shared/error', error_messages: f.object.errors[:year_month_id] %>
  <%= f.select :year_month_id, YearMonth.pluck(:short_format, :id), {}, class: 'input-md-3 form-control t-year-month' %>
</div>

<div class="form-group <%= 'form-group--error' if f.object.errors[:transactions].any? %>">
  <%= f.label :transactions %>
  <%= render 'shared/error', error_messages: f.object.errors[:transactions] %>
  <%= f.text_field :transactions, class: 'input-md-3 form-control t-transactions' %>
</div>

<div class="form-group <%= 'form-group--error' if f.object.errors[:bookings].any? %>">
  <%= f.label :bookings %>
  <%= render 'shared/error', error_messages: f.object.errors[:bookings] %>
  <%= f.text_field :bookings, class: 'input-md-3 form-control t-bookings' %>
</div>

<div class="form-group <%= 'form-group--error' if f.object.errors[:completions].any? %>">
  <%= f.label :completions %>
  <%= render 'shared/error', error_messages: f.object.errors[:completions] %>
  <%= f.text_field :completions, class: 'input-md-3 form-control t-completions' %>
</div>


