<div class="row">
  <div class="col-md-12">
    <h1>CITA appointment CSV upload</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_tag cita_appointment_uploads_path, multipart: true do %>
      <div class="form-group <%= 'form-group--error' if @uploaded_file.errors.any? %>">
        <% @uploaded_file.errors.each do |error| %>
          <%= simple_format error.message, { class: 'form-group__error-message t-error' }, wrapper_tag: 'span' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= label_tag nil, class: 'btn btn-default' do %>
          Browse for appointments CSV&hellip;
          <%= file_field_tag :appointments_csv, accept: 'text/csv', class: 'file-select js-file-select t-file-attachment' %>
        <% end %>
        <span class="js-file-select__name"/>
      </div>

      <div class="form-group">
        <%= submit_tag 'Upload', class: 'btn btn-success t-upload-button' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Pending</h2>
    <% @scheduled.each do |uploaded_file| %>
      <div class="row">
        <div class="col-md-2"><%= uploaded_file.created_at.to_date %></div>
        <div class="col-md-10 t-scheduled-file"><%= uploaded_file.filename %></div>
      </div>
    <% end %>
  </div>
</div>
