<div class="row">
  <div class="col-md-12">
    <h1>Cost Items</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Add new', new_cost_item_path, class: 'btn btn-success' %>

    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Web cost</th>
        <th class="col-md-2">Delivery partner</th>
        <th class="col-md-2"></th>
      </tr>
      <% @cost_items.each do |cost_group, costs_item| %>

        <tbody>
          <tr class="l-costs__header">
            <th colspan="4"><%= cost_group %></th>
          </tr>
          <% costs_item.each do |cost_item| %>
            <tr id="cost-item-<%= cost_item.id %>">
              <td><%= cost_item.name %></td>
              <td><%= cost_item.web_cost ? 'Yes' : 'No' %></td>
              <td><%= cost_item.delivery_partner.humanize %></td>
              <td>
                <%= link_to 'Edit', edit_cost_item_path(cost_item), class: 'btn btn-default' %>
                <%= button_to 'Delete', cost_item_path(cost_item), method: 'delete', class: 'btn btn-danger', form_class: 'inline', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
    <%= link_to 'Add new', new_cost_item_path, class: 'btn btn-success' %>
  </div>
</div>
