<div class="row">
  <div class="col-md-12">
    <h1>Call volumes</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= form_for @call_volumes, url: call_volumes_path, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <div class="form-group">
          <%= f.label :start_date, 'From', class: 'inline' %>
          <%= f.text_field :start_date, type: :date, class: 'form-control t-start-date', placeholder: 'dd/mm/yyyy' %>
        </div>
        <div class="form-group">
          <%= f.label :end_date, 'To', class: 'inline' %>
          <%= f.text_field :end_date, type: :date, class: 'form-control t-end-date', placeholder: 'dd/mm/yyyy' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-default t-search' %>
      <% end %>

      <%= form_for @call_volumes, url: call_volumes_path(format: :csv), method: :get, html: { class: 'inline form-inline' } do |f| %>
        <%= f.hidden_field :start_date %>
        <%= f.hidden_field :end_date %>
        <%= f.submit 'Export CSV', class: 'btn btn-default t-export-csv' %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Twilio call volume</th>
        </tr>
      </thead>
      <tbody>
        <%- @call_volumes.results.each do |daily_call_volume| %>
          <tr class="t-call-day">
            <td class="t-call-date"><%= daily_call_volume.date.to_s(:govuk_date) %></td>
            <td class="t-twilio-calls"><%= daily_call_volume.call_volume %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td class="t-total-twilio-calls"><%= @call_volumes.total_twilio_calls %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
