<div class="row">
  <div class="col-md-12">
    <h1>Satisfaction</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= form_for @satisfactions, url: reports_satisfaction_summary_path, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <div class="form-group">
          <%= f.label :year_month_id, 'Month', class: 'inline' %>
          <%= f.select :year_month_id, @satisfactions.months.pluck(:short_format, :id), {}, class: 'form-control t-month' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-default t-search' %>
      <% end %>

      <%= form_for @satisfactions, url: reports_satisfaction_summary_path(format: :csv), method: :get, html: { class: 'inline form-inline' } do |f| %>
        <%= f.hidden_field :year_month_id %>
        <%= f.submit 'Export CSV', class: 'btn btn-default t-export-csv' %>
      <% end %>

      <%= form_for @satisfactions, url: reports_satisfaction_path(format: :csv), method: :get, html: { class: 'inline form-inline' } do |f| %>
        <%= f.hidden_field :year_month_id %>
        <%= f.submit 'Export raw CSV', class: 'btn btn-default t-export-raw-csv' %>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="table-header">
          <th scope="col"></th>
          <th>CAS</th>
          <th>CAS Telephone</th>
          <th>CITA</th>
          <th>NICAB</th>
          <th>TPAS</th>
          <th>TP</th>
          <th>Total</th>
          <th>Weighted average</th>
        </tr>
      </thead>
      <tbody>
        <%- @satisfaction_summary.rows.each do |row| %>
          <tr class="t-row">
            <td><%= row.name %></td>
            <td class="text-right"><%= row.cas %></td>
            <td class="text-right"><%= row.cas_telephone %></td>
            <td class="text-right"><%= row.cita %></td>
            <td class="text-right"><%= row.nicab %></td>
            <td class="text-right"><%= row.tpas %></td>
            <td class="text-right"><%= row.tp %></td>
            <td class="text-right"><%= row.total %></td>
            <td class="text-right"><%= row.weighted_average %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
